<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653993873602-nvmh9cp77bfcunpiqla2j0h9n4s8voac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653993873602-nvmh9cp77bfcunpiqla2j0h9n4s8voac</string>
	<key>API_KEY</key>
	<string>AIzaSyBR6nMLGiFzhhBxRT1iKy1Wlv_8UI2QFlc</string>
	<key>GCM_SENDER_ID</key>
	<string>653993873602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.area51.MusicDay</string>
	<key>PROJECT_ID</key>
	<string>restaurante-e9642</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurante-e9642.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:653993873602:ios:2ef188654f83a6cc</string>
	<key>DATABASE_URL</key>
	<string>https://restaurante-e9642.firebaseio.com</string>
</dict>
</plist>
